<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="directives/selectTracks/selectTracks.css">
    <link rel="stylesheet" href="directives/singleTrack/singleTrack.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div ng-app="angModule" ng-controller="mainCtrl" ng-init="init()" class="container main-div">
    <div id="main-buttons-container">
        <button class="main-button" ng-click="sync()">
            SYNC
        </button>
        <button class="main-button" ng-click="playStopAll()">
            {{allPlaying ? 'STOP':'PLAY'}}
        </button>
    </div>

    <div id="open-select-container">
        <button  ng-click="selectOpen = !selectOpen" class="open-select-button"
                 ng-disabled="trackList.length == selectedTracks.length">
            Select track
        </button>
        <select-tracks tracks="trackList" ng-show="selectOpen && trackList.length != selectedTracks.length"
                       selected="selectedTracks">

        </select-tracks>
        <div class="empty-list" ng-show="selectedTracks.length == 0">
            No tracks selected for looper
        </div>
    </div>

    <div ng-repeat="track in selectedTracks">
        <single-track track-data="track" delete-func="removeTrack">
        </single-track>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="app.js"></script>
<script src="directives/singleTrack/singleTrack.js"></script>
<script src="directives/selectTracks/selectTracks.js"></script>
<script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

</body>
</html>