.main-div{
    margin: auto;
    padding-right: 5%;
    margin-top: 40px;
    width: 400px;
}

#open-select-container, select-tracks{
    width: inherit;
}
.open-select-button {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
    background: none;
    color: #222;
    padding: 10px;
    text-align: left;
}

.open-select-button:hover{
    background-color: #eef;
}

.empty-list{
    margin: 10px;
}

#main-buttons-container{
    width: 100%;
}
#main-buttons-container .main-button{
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: white;
    padding: 8px 15px;
    margin: 0 5px;
}
#main-buttons-container .main-button[disabled]{
    color: gray;
}
#main-buttons-container .main-button:not([disabled]):hover{
    border: 1px solid black;
}

.selected-list{
    width: inherit;
}

@media screen and (max-width: 400px) {
    .main-div{
        width: 100%;
    }
}

